/*Definicoes gerais da pagina*/
*{
    box-sizing: border-box;
}
body{
    background-color: #6067f694;
    margin: 0;
}
p {
    font-size: 25px;
    font-family: arial;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*Definicoes header*/
    header{
    width: 100%;
    padding: 0%;
    margin: 0%;
    object-fit:cover;
    border: 0;
    height: 250px;
}

header img{
    width: 100%;
    padding: 0%;
    margin: 0%;
    object-fit: cover;
    max-height: 250px;
    margin-bottom: 0;
}
/*Definicoes menu*/
.menu{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: flex-start;
    background-color: #35289a;
    flex-wrap: wrap;
}
.menu ul{
    display: flex;
    list-style-type: none;
    font-size: 30px;
    overflow: visible hidden;
    margin: 3px 0;
    padding: 16px;
    
}

.menu ul li{
    display: inline;
    border: 1px solid white;
    border-radius: 16px;
    padding: 12px;
    margin: 0 12px;
    background-color: rgb(34, 5, 74);
}

.menu ul li a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    min-width: 33%;
}

.menu ul li a:hover{
    color: lightblue;
}
/*Definicoes corpo da pagina*/
.regras-dicas{
    display: flex;
    flex-direction: row;
}
.primario{
    width: 800%;
    margin: 10px;
    text-align: justify;
    border-radius: 20px;
    padding: 12px;
    background-color: aqua;
}

.secundario{
    text-align: justify;
    padding-right: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 12px;
    margin:10px
}
.titulos-primario{
    display: flex;
}
.titulos-secundario{
    display: flex;
}

/*Definicoes das imagens do corpo da pagina*/
.float-images{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    float:inline-end;
}
.cards-images{
    aspect-ratio: 3/4;
    object-fit: cover;
    width: 150px;
}
.texto-secundario img{
    height: 250px;
    margin:12px;
}
/*Definicoes do grid de fotos*/
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem;
    margin: 1rem;
    background-color: rgb(16, 16, 49);
    border-radius: 1rem;
    padding: 12px;
    max-width: 100%;
}

.grid-item{
    max-width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    align-self: center;
    box-shadow: 0 .25rem 1rem rgb(0 0 0/.1);
}
.footer p{
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
}

/*Definicoes para mobile*/

@media all and (max-width: 480px){

    .header{
        height: 15em;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;}

    .header img{
        border: 0;
        min-height: 10rem;}

    /*menu mobile*/
    .menu{
        display: flex;
        position: static;
        top: 0;
        width: 100%;
        justify-content: flex-start;
        background-color: #35289a;
    }
    .menu ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        list-style-type: none;
        font-size: 30px;
        overflow: visible hidden;
        margin: 3px 0;
        padding: 16px;
        
    }
    
    .menu ul li{
        border: 1px solid white;
        border-radius: 16px;
        padding: 8px;
        margin: 12px 0;
        background-color: rgb(34, 5, 74);
    }
    
    .menu ul li a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: inline;
        text-decoration: none;
        color: white;
        padding-right: 20px;
        min-width: 33%;
    }
    
    .menu ul li a:hover{
        color: lightblue;
    }
    /*corpo com conteudo primario e secundario*/
    .regras-dicas{
        display: flex;
        flex-direction: column;
    }
    .regras-dicas{
        text-align: justify;
    }
    .primario{
        max-width: 90%;
    }
    .secundario{
        max-width: 90%;
    }
    .divisoria{width: 100%;}
    /*grid mobile*/
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: .25rem;
        margin: 1rem;
        border: 2px solid blue;
        border-radius: 1rem;
        padding: 12px;
        max-width: 90%;
    }
}